@font-face {
    font-family: fontEspy;
    src: url(fuenteEspy.ttf);
}

body {
    background-color: #1e2933;
    max-width: 100svw;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    justify-content: space-between;
}

header > .left,
.right {
    display: flex;
    align-items: center;
}

header > .left > h1 {
    font-family: "Ubuntu";
    font-weight: bold;
    font-size: 32px;
    color: #ffffff;
    /* text-shadow: 0 0 10px rgba(131, 131, 131, 0.5); */
}

header > .left > img {
    user-select: none;
    -webkit-user-drag: none;
    width: 87px; /* Ancho de la imagen */
    height: 87px; /* Alto de la imagen */
}

header > .right {
    gap: 25px;
    padding-bottom: 10px;
}

header > .right > a {
    margin: 0px;
    font-family: "Inter";
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    font-size: 20px;
    margin-right: 20px;
}

footer {
    font-family: fontEspy;
    color: #ffffff;
    opacity: 0.5;
    display: flex;
    justify-content: end;
    margin-right: 20px;
}
.chat {
    background-color: #ffffff;
    width: 500px;
    margin: 40px auto 0; /* Mueve el cuadro hacia abajo */
    justify-content: center; /* Centra horizontalmente */
    padding: 15px;
    border-radius: 40px;
    box-shadow: 0 0 5px rgba(221, 220, 220, 0.2);
}
