@font-face {
    font-family: fontUbuntu;
    src: url(UbuntuNerdFont-Bold.ttf);
}

body {
    font-family: fontUbuntu;
    background-color: #1E2933;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

header {
    padding: 0px;
    background-color: #3672A4;
    box-shadow: 0 0 10px rgba(145, 142, 142, .5);
    margin-bottom: 20px;
    z-index: -2;
}

header > h1 {
    text-align: center;
    font-size: 45px;
    color: #ffffff;
    font-weight: bold;
    text-shadow: 0 0 10px rgba(131, 131, 131, 0.5);
}

header > img {
    -webkit-user-drag: none;
    user-select: none;
    position: absolute;
    width: 90px; /* Ancho de la imagen */
    opacity: 0.3;

    /* Posiciona la imagen en el centro */
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}
footer > p{

}
.chat {
    background-color: #ffffff;
    width: 500px;
    margin: 40px auto 0; /* Mueve el cuadro hacia abajo */
    justify-content: center; /* Centra horizontalmente */
    padding: 15px;
    border-radius: 40px;
    box-shadow: 0 0 5px rgba(221, 220, 220, 0.2);
}
