@font-face {
    font-family: fontEspy;
    src: url(fuenteEspy.ttf);
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(wallpaper.png);
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.7;
    z-index: -1;
}

body {
    background-color: #000000;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

/* Header */
header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem;
    justify-content: space-between;
    margin-bottom: 2rem;
}

header > .left,
.right {
    display: flex;
    align-items: center;
}

header > .left > h1 {
    font-family: "Ubuntu";
    font-weight: bold;
    font-size: 32px;
    color: #ffffff;
    /* text-shadow: 0 0 10px rgba(131, 131, 131, 0.5); */
}

header > .left > img {
    user-select: none;
    -webkit-user-drag: none;
    width: 87px; /* Ancho de la imagen */
    height: 87px; /* Alto de la imagen */
}

header > .right {
    gap: 40px;
    padding-bottom: 10px;
    margin-right: 2rem;
}

header > .right > a {
    margin: 0;
    font-family: "Inter";
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    font-size: 20px;
}

/* Hero */
.hero {
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: calc(100vh - 12rem);
    gap: 8vw;
}

.hero > div {
    display: flex;
    align-items: end;
    flex-direction: column;
    gap: 20px;
    text-align: left;
    padding-top: 3rem;
}

.hero > div > h2 {
    max-width: 600px;
    font-family: "Ubuntu";
    font-size: 36px;
    color: #ffffff;
    margin: 0;
}

.hero > div > p {
    max-width: 600px;
    font-family: "Ubuntu";
    font-weight: 300;
    font-size: 20px;
    color: #ffffff;
}

.hero > img {
    padding-left: 1rem;
    width: 506px;
    height: 488px;
    justify-self: start;
}

/* Hero Buttons */
.hero-buttons {
    width: 100%;
    max-width: 600px;
    display: flex;
    gap: 20px;
}

.hero-buttons > button {
    border: 1px solid #f6e070;
    padding: 5px 20px;
    font-size: 18px;
    background-color: #f6e070;
    border-radius: 10px;
    transition: all 0.2s;
}

.hero-buttons > :last-child {
    background-color: #ffffff00;
    color: #f6e070;
    border-radius: 10px;
    padding: 10px 20px;
}

/* Hover */
.hero-buttons > button:hover {
    opacity: 0.9;
    box-shadow: 0 0 10px #f6e070;
}

/* Footer */
footer {
    font-family: fontEspy;
    color: #ffffff;
    opacity: 0.5;
    display: flex;
    justify-content: end;
    margin-right: 20px;
}

.chat {
    background-color: #ffffff;
    width: 500px;
    margin: 40px auto 0; /* Mueve el cuadro hacia abajo */
    justify-content: center; /* Centra horizontalmente */
    padding: 15px;
    border-radius: 40px;
    box-shadow: 0 0 5px rgba(221, 220, 220, 0.2);
}

@media (max-width: 768px) {
    body {
        padding: 0;
        min-width: 100vw;
    }

    header {
        flex-wrap: wrap;
    }

    header > .left {
        width: 100%;
        margin-bottom: 1rem;
        justify-content: center;
    }

    header > .left > img {
        opacity: 0.2;
        position: absolute;
        width: 100px;
        height: 100px;
    }

    header > .right {
        margin: 0;
        width: 100%;
        justify-content: space-between;
        gap: 0;
    }

    .hero {
        grid-template-columns: 1fr;
    }

    .hero > img {
        display: none;
    }

    .hero > div {
        text-align: center;
        padding-top: 0;
    }

    .hero-buttons {
        justify-content: center;
    }
}
